# %(PACKAGE_NAME)s ROS2 package

%(PACKAGE_DESCRIPTION)s

## Run 
How to run the %(PACKAGE_NAME)s gui.
```bash
rqt --standalone %(PACKAGE_NAME)s
```
or 
```bash
rqt --force-discover --standalone %(PACKAGE_NAME)s
```