#ifndef %(UPPER_CASE_PACKAGE_NAME)s__RQT_PLUGIN_HPP_
#define %(UPPER_CASE_PACKAGE_NAME)s__RQT_PLUGIN_HPP_

#include <rqt_gui_cpp/plugin.h>
#include <QWidget>
#include <QMainWindow>
#include <QTimer>
#include <memory>

// TODO(%(PACKAGE_MAINTAINER_EMAIL)s): Include the message headers

namespace Ui
{
  class %(CAMEL_CASE_PACKAGE_NAME)sMainWindow;
}

namespace %(PACKAGE_NAME)s
{
class %(CAMEL_CASE_PACKAGE_NAME)sPlugin
  : public rqt_gui_cpp::Plugin
{
  Q_OBJECT

public:
  %(CAMEL_CASE_PACKAGE_NAME)sPlugin();
  virtual ~%(CAMEL_CASE_PACKAGE_NAME)sPlugin();

  virtual void initPlugin(qt_gui_cpp::PluginContext & context);
  virtual void shutdownPlugin();
  virtual void saveSettings(
    qt_gui_cpp::Settings & plugin_settings,
    qt_gui_cpp::Settings & instance_settings) const;
  virtual void restoreSettings(
    const qt_gui_cpp::Settings & plugin_settings,
    const qt_gui_cpp::Settings & instance_settings);

private:
  Ui::%(CAMEL_CASE_PACKAGE_NAME)sMainWindow *ui_;
  QMainWindow *mw_;
  QTimer * ros_timer_;
  // QTimer * display_timer_;
  
  //TODO(%(PACKAGE_MAINTAINER_EMAIL)s): Add your publishers and subscription here

signals:
  //TODO(%(PACKAGE_MAINTAINER_EMAIL)s): Add your signals here


private slots:
  //TODO(%(PACKAGE_MAINTAINER_EMAIL)s): Add your slots here



};
}  //  < namespace %(PACKAGE_NAME)s
#endif  // %(UPPER_CASE_PACKAGE_NAME)s__RQT_PLUGIN_HPP_